@tailwind base;
@tailwind components;
@tailwind utilities;

@import './colors.css';
@import './reset.css';

:root {
  --background: var(--c-white-01);
  --foreground: var(--c-dark-blue);
  --bg-modal: var(--c-white-03);
  --c-error: var(--c-red-01);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--c-dark-gray);
    --foreground: var(--c-white-01);
    --bg-modal: var(--c-light-gray);
  }
}
